.portfolio{
    margin-bottom: 57px;
}

.portfolio__title{
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 40px;    
}

.portfolio__slider{
    position: relative;
    max-width: 290px;
    margin: 0 auto;
}

.card{
    box-sizing: border-box;
    max-width: 252px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 14px;
}

.card__pictire{
    align-self: center;
    width: 155px;
    height: 92px;
    padding: 4px 18px 12px;
    background-image: url('../img/macbook.svg');
    background-size: cover;
    margin-bottom: 30px;
}

.card__data{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 23px;
}

.card__client{
    line-height: 120%;
}

.card__date{
    line-height: 140%;
}

.card__title{
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
}

.portfolio__arrow{
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url('../img/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 40%;
    z-index: 1;
    border-radius: 5px;
}

.portfolio__arrow-left{
    left: 0;
}

.portfolio__arrow-right{
    right: 1px;
    transform: rotate(180deg);
}

.portfolio__arrow-desable{
    opacity: 0.3;
    pointer-events: none;
}

@media (min-width: 480px){
    .portfolio__slider{
        max-width: 320px;
    }

    .portfolio__title{
        font-size: 40px;
    }
}

@media (min-width: 768px){
    .portfolio__slider{
        max-width: 688px;
    }

    .portfolio__item:nth-child(2n){
        background: linear-gradient(180deg, #F2F1F1 0%, #F7F7F7 100%);
    }
}

@media (min-width: 992px){
    .portfolio__slider{
        max-width: 690px;
    }
}

@media (min-width: 1440px){
    .portfolio__slider{
        max-width: 825px;
    }

    .card{
        max-width: 366px;
    }
    
    .card__pictire{
        width: 213px;
        height: 126px;
        padding: 5px 25px 15px;
    }

    .card__title{
        font-size: 50px;
    }

    .card__data{
        font-size: 16px;
    }

    .card__title{
        font-size: 18px;
    }
}




