
.present__photo{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    background-color: rgb(215, 211, 211);
    border-radius: 5%;
    pointer-events: none; 
}

.present__group-title{
    text-transform: uppercase;
    margin-bottom: 18px;
}

.present__title{
    font-size: 34px;
    line-height: 120%;
    font-weight: 700;
    margin-bottom: 10px;
}

.present__subtitle{
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.present__description{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 19px;
}

.preset__order-btn{
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 60px;
    border-radius: 10px;
    background-color: #E87C40;
    border: 2px solid transparent;
}

.preset__order-btn:hover span{
    display: block;
    animation: translate 5.5s infinite linear;

}

@keyframes translate {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);

    }
}

.preset__order-btn:focus-visible{
    border: 2px solid #007ddc;
}

.preset__order-btn:hover{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}



@media (min-width: 480px){
    
    .present__container{
        display: flex;
        align-items: center;
    }
    .present__photo{
        width: 50%;
        margin-right: 15px;
        margin-bottom: 0;
    }

    .present__comtant{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .present__title{
        font-size: 40px;
    }

    .present__subtitle{
        font-size: 18px;
    }
    .present__description{
        font-size: 16px;
    }

    .preset__order-btn{
        font-size: 18px;
    }
}

@media (min-width: 768px){
    .present{
        padding-top: 70px;
    }

    .present__photo{
        width: 370px;
        margin-right: 30px;
    }

    .present__group-title{
        margin-bottom: 40px;
    }

    .present__title{
        margin-bottom: 24px;
    }

    .present__description{
        margin-bottom: 60px;
    }

    .preset__order-btn{
        padding: 24px 82px;
    }
}

@media (min-width: 992px){
    .present{
        position: relative;
    }

    .present::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 40%;
        height: 100%;
        background-color: #A1B7C8;
        z-index: -1;
    }
}

@media (min-width: 1440px) {
    .present__photo{
        width: 445px;
    }

    .present__group-title{
        margin-bottom: 60px;
    }

    .present__title{
        font-size: 50px;
        margin-bottom: 20px;
    }

    .present__subtitle{
        font-size: 20px;
    }

    .present__description{
        margin-bottom: 80px;
    }

}

